
/*Header*/
.header{
  background-image: url("../images/banner-bg.png");
  background-size: cover;
  background-position: center;
  height: 31rem;
  width: 100%;
}
/*Top header*/
.topheader{
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  padding: 1rem 2rem;
  position: relative;
  top: 1rem;
}
.mobilenav{
  display: none;
}

/*Left topheader*/

.designheader {
  display: flex;
  align-items: center;
}
.designheader img{
  height: 1.5rem;
  padding-right: 1rem;
}

.designheader span{
  font-family: helvetica;
  font-size: 1rem;
  color: white;
  font-weight: normal;
}
/*End left topheader*/

/*Right topheader*/
.navheader{
  font-family: helvetica;
  font-size: 1rem;
  color: white;
  font-weight: normal;
}

.navheader span{
  padding-right:2rem;
}

.navheader span:nth-child(3){
  padding-right:0;
}
/*End Right topheader*/

/*lowerheader*/
.lowerheader{
  background-color: white;
  padding: 1.5rem 5rem 1.5rem 5rem;
  position: absolute;
  margin-top: 14rem;
  right: -2rem;

}

.lowerheader h1{
  font-family: helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}
/*end lowerheader*/

/*end header*/

/*3 picture container*/

.picturecontainer{
  height: 8rem;
  margin-bottom: 3rem;
}
.pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.paper {
  padding-right: 6rem;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  height: 8rem;
}

.paper img {
  width: 3.5rem;
}

.ruler{
  display: flex;
  flex-direction:column;
  align-content: center;
  height: 8rem;
  justify-content: space-between;
}

.ruler img{
  width: 5rem;
  margin: 0 auto;
}

.truck {
  padding-left: 6rem;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  height: 8rem;
}

.truck img{
  width: 5rem;
}

.icons p{
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-family: helvetica, sans-serif;
  font-size: 1rem;
  width: 3.5rem;
  margin: 0 auto;
}

/*End 3 Icons Container*/

/*Start philosophy and appointments container*/

.wordscontainer {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.philosophy {
  width: 35%;
}

.philosophy h4{
  font-family: helvetica, sans-serif;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  padding: .8rem;
  width: 55%;
  font-weight: bold;
}

.philosophy p{
  padding-top: 1rem;
  font-family: helvetica, sans-serif;
  line-height: 1.5rem;
}

.appointments {
  width: 35%;
  margin-left: 5rem;
}

.appointments h4{
  font-family: helvetica, sans-serif;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  padding: .8rem;
  width: 55%;
  font-weight: bold;
}

.appointments p{
  padding-top: 1rem;
  font-family: helvetica, sans-serif;
  line-height: 1.5rem;
}

/*End container*/

/*Starter Footer*/

.footer{
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: azure;
  padding: 4rem 0 4rem 4rem;
}

.footer img{
  height: 1.5rem;
  padding-right: 1rem;
}

/*End Footer*/

@media only screen and (max-width: 1024px){
  .header{
    height:22rem;
    width: 100%;
  }
/*Need to the fix the top header, it's not staying within the screen width, it's bleeding into the white space to the right*/
  .topheader{
    top: 0;
    width: 100%;
  }
  .mobilenav{
    display: none;
  }
  .lowerheader{
    margin-top: 10rem;
    padding: 1rem 4rem 1rem 4rem;
    margin-right: 10rem;

  }
  .lowerheader h1{
    font-size: 1.33rem;
  }
  .pictures{
    width: 100%;
  }

.wordscontainer{
  width:100%;
}
  .philosophy p{
    width: 75%;
  }
  .appointments p{
    width: 75%;
  }
  .footer{
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {

  .header{
      height: 17rem;
      background-position: 20%;
      width: 100%;
    }
    /*Need to fix the mobile nav*/
  .topheader{
      width:100%;
    }
  .regular{
      display: none;
    }
  .designheader span{
      display: none;
    }
  .designheader img {
    height: 1rem;
  }
    .mobilenav{
      display: inline;
      /*padding-right: 2rem;*/
    }
/*End of need to fix mobile nav*/



  .lowerheader{
      /*width: 100%;*/
      margin-top: 12rem;
      display: inline-block;
    }
  .lowerheader h1{
      padding-top: .5rem;
      padding-bottom:.5rem;
      /*text-align: center;*/
      margin: 0 auto;
      font-size: 1rem;
    }
/*Need to fix the position of the icons to center of the div*/
  .pictures{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
  .paper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ruler{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .truck{
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*End of 3 Icons*/

/*philosophy and appointments*/

  .wordscontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .philosophy{
    width: 100%;
    margin: 0 auto;
    padding-top: 1.77rem;
    padding-bottom: 4rem;
  }
  .philosophy h4{
    width: 100%;
    text-align: center;
  }
  .philosophy p{
    width: 70%;
    font-size: 0.77rem;
    text-align: center;
    margin: 0 auto;
  }
  .appointments{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 3rem;
  }
  .appointments h4{
    width: 100%;
    text-align: center;
  }
  .appointments p{
    width: 70%;
    font-size: 0.77rem;
    text-align: center;
    margin: 0 auto;
  }
/*End of words container*/

  .copy{
    display: none;
  }
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
