
/*Header*/
.header{
  background-image: url("../images/banner-bg.png");
  background-size: cover;
  background-position: center;
  height: 31rem;
  width: 100%;
}
/*Top header*/
.topheader{
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  padding: 1rem 2rem;
  position: relative;
  top: 1rem;
}
.mobilenav{
  display: none;
}

/*Left topheader*/

.designheader {
  display: flex;
  align-items: center;
}
.designheader img{
  height: 1.5rem;
  padding-right: 1rem;
}

.designheader span{
  font-family: helvetica;
  font-size: 1rem;
  color: white;
  font-weight: normal;
}
/*End left topheader*/

/*Right topheader*/
.navheader{
  font-family: helvetica;
  font-size: 1rem;
  color: white;
  font-weight: normal;
}

.navheader span{
  padding-right:2rem;
}

.navheader span:nth-child(3){
  padding-right:0;
}
/*End Right topheader*/

/*lowerheader*/
.lowerheader{
  background-color: white;
  padding: 1.5rem 5rem 1.5rem 5rem;
  position: absolute;
  margin-top: 14rem;
  right: -2rem;

}

.lowerheader h1{
  font-family: helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}
/*end lowerheader*/

/*end header*/

/*3 picture container*/

.picturecontainer{
  height: 8rem;
  margin-bottom: 3rem;
}
.pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.paper {
  padding-right: 6rem;
  display: flex;
  flex-direction:column;
  align-content: center;
  justify-content: space-between;
  height: 8rem;
}

.paper img {
  width: 3.5rem;
}

.paper p{
  /*margin-top: 3rem;*/
  width: 3.5rem;
  flex-wrap: wrap;
}

.paper
.ruler
.truck {
  display: flex;
  flex-direction:column;
  align-content: center;
  height: 8rem;
}

.ruler{
  display: flex;
  flex-direction:column;
  align-content: center;
  height: 8rem;
  justify-content: space-between;
}

.ruler img{
  width: 5rem;
  margin: 0 auto;
}

/*.ruler p{
  margin-top:4rem;
}*/

.truck {
  padding-left: 6rem;
  display: flex;
  flex-direction:column;
  align-content: center;
  justify-content: space-between;
  height: 8rem;
}

.truck img{
  width: 5rem;
}

.truck p{
  /*margin-top: 4.5rem;*/
}

.icons p{
  text-align: center;
  align-self: flex-end;
  font-family: helvetica, sans-serif;
  font-size: 1rem;
}

.wordscontainer {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.philosophy {
  width: 35%;
}

.philosophy h4{
  font-family: helvetica, sans-serif;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  padding: .8rem;
  width: 55%;
  font-weight: bold;
}

.philosophy p{
  padding-top: 1rem;
  font-family: helvetica, sans-serif;
  line-height: 1.5rem;
}

.appointments {
  width: 35%;
  margin-left: 5rem;
}

.appointments h4{
  font-family: helvetica, sans-serif;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  padding: .8rem;
  width: 55%;
  font-weight: bold;
}

.appointments p{
  padding-top: 1rem;
  font-family: helvetica, sans-serif;
  line-height: 1.5rem;
}

.footer{
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: azure;
  padding: 4rem 0 4rem 4rem;
}

.footer img{
  height: 1.5rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 1024px){
  .header{
    height:22rem;
  }
  .topheader{
    top: 0;
    width: 100%;
  }
  .mobilenav{
    display: none;
  }
  .lowerheader{
    margin-top: 7rem;
    padding: .75rem 4rem .75rem 4rem;
    margin-right: 2rem;
  }
  .lowerheader h1{
    font-size: 1.33rem;
  }
  .pictures{
    width: 100%;
  }

.wordscontainer{
  width:100%;
}
  .philosophy p{
    width: 75%;
  }
  .appointments p{
    width: 75%;
  }
  .footer{
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
    .topheader{
      width:100%;
    }
    .regulardisp{
      display: none;
    }

}
